.lecture-backend-container {
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 100px;
    padding-right: 30%; /* 왼쪽에 여백을 줘서 카드들이 가운데에 가까워지도록 조정 */
}
.lecture-card-backend {
    background-color: #ffffff;
    width: 500px; /* 카드 너비를 조정 */
    border-radius: 15px;
    padding: 0px 0px 20px 0px;
    text-align: left;
    color: rgb(60, 60, 60);
    transition: transform 0.3s ease;
}

.image-container-backend {
    margin-bottom: 50px;
    overflow: hidden;
    border-radius: 15px;
}

.lecture-image-backend {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container-backend:hover .lecture-image-backend {
    filter: brightness(1.2); /* 밝기를 살짝 높임 */
}

.lecture-icons-backend {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* 왼쪽 정렬로 변경 */
    gap: 10px; /* 아이콘 사이의 간격을 줄임 */
    font-size: 18px;
    color: #666;
}
.p-margin-backend{
    margin-top: -8px;

}